.viewport, body, html {
    height: 100%;
    overflow-x: hidden;
    /*position: relative*/
}

body, html {
    width: 100%;
}

.viewport {
    width: 300%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}

.pageview {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex:1;
    width: 0;
    overflow:hidden;
    padding-bottom:0.3rem;
}
.pagenumber {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 0.3rem;
    line-height: 0.3rem;
    width: 100%;
    background:rgba(0,0,0,0.3);
    text-align: center;
}

.pagenumber div {
    display: inline-block;
    width:0.06rem;
    height:0.06rem;
    margin-right: 0.1rem;
    background: rgba(255, 255, 255, .5);
    border-radius: 100%;
}

.pagenumber .cur{
    background: rgba(255, 255, 255, 1) !important
}

/*.pagenumber div:after {
    content: "";
    width: .4em;
    height: .4em;
    background: rgba(255, 255, 255, .5);
    border-radius: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -.2em;
    margin-left: -.2em;
}*/

